.nav {
	padding: 24px 0;
	border-bottom: 1px solid #E6E6E6;
}

.nav__menu-flex {
	display: flex;
	justify-content: space-between;
}

.nav__menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	width: 44%;
}

.nav__link {
	text-decoration: none;
	font-size: 12px;
	line-height: calc(14/12);
	color: #48555B;
	font-weight: 600;
}
